.loading-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.4); /* 살짝 어둡게 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.loading {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
